canvas {
	border: 1px solid black;
	margin: 0;
}
body{
	margin: 0;
	text-align: center;
}

html{
	background-color:dimgray;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  border: 4px solid black;
}

img:hover {
  border: 4px solid white;
}