html{
	background-color:black;
	font-family: 'Geo', sans-serif;
	color:white;

}

body{
	text-align:center;
	overflow: hidden;
}

canvas{

}

span{
	font-size: 35px;
}

p{
	font-size: 30px;
}


h1{

}

