canvas {

	border: 1px solid black;
	width:65%;
	max-height:100%;
	margin:0 auto;
	vertical-align: middle;
}
body{
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

html{
	background-color:dimgray;
}